<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_login">
		<observer name="gsoft_login_observer_frontend_customer_login_customer_login" instance="Gsoft\Login\Observer\Frontend\Customer\Login"/>
	</event>
</config>
